# Binaries
bin/
escrow-api
*.exe
*.exe~
*.dll
*.so
*.dylib

# Daml build artifacts
.daml/
*.dar

# Logs and temporary files
*.log
log/
contracts/log/
*.gz

# Frontend
frontend/dist
frontend/node_modules
.astro

# Test artifacts
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.java-version
.idea/
.vscode/

# MacOS
.DS_Store
